fastapi
uvicorn
python-multipart
pydantic
langchain
langchain-community
langchain-core
langchain-huggingface
sentence-transformers
chromadb
pypdf
tiktoken
networkx
requests
python-dotenv
numpy
langgraph
flashrank
